<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wander Lust</title>
</head>
<body>
    <h1>reviews</h1>
            <h4> <%= newReview.comment %> </h4>
            <h4> <%= newReview.rating %> </h4>
    

</body>
</html>

