<% layout("/layouts/boilerplate") %>
<body>
    <style>
        .filters{
            /* border: 2px solid black; */
            display: flex;
            flex-wrap: wrap;
            /* justify-content: center; */
        }

        .filter{
            /* border: 1px solid black; */
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* margin-top: 1rem; */
            margin-right: 2rem;
            opacity: 0.7;
        }

        .filter:hover{
            opacity: 1;
            text-decoration: underline;
            cursor: pointer;
            font-weight: 700;
        }

        .filter p{
            font-size: 0.85rem;
        }

        .filter-menu{
            height: 3rem;
            border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.7rem;
            margin-right: 1rem;
            margin-left: 3rem;
        }

        .filter-menubar{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0rem 0.5rem 0rem 0.5rem;
            
        }

        .tax-toggel{
            height: 3rem;
            border: 1px solid black;
            border-radius: 0.7rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0rem 1rem 0rem 1rem;
            
        }

        .tax-toggel:hover{
            cursor: pointer;
        }

        .tax-info{
            display: none;
        }

        .noListing{
            height: 25rem;
            /* border: 2px solid black; */
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    
    <div class="filters mt-3">
        <div class="filter">
            <div> <i class="fa-solid fa-fire"></i> </div>
            <p> Trending </p>
        </div>

        <div class="filter">
            <div> <i class="fa-solid fa-bed"></i> </div>
            <p> Rooms </p>
        </div>

        <div class="filter">
            <div> <i class="fa-solid fa-hotel"></i> </div>
            <p> Iconic Cities </p>
        </div>

        <div class="filter">
            <div> <i class="fa-solid fa-umbrella-beach"></i> </div>
            <p> Beaches </p>
        </div>

        <div class="filter">
            <div> <i class="fa-solid fa-mountain-sun"></i> </div>
            <p> Mountains </p>
        </div>

        <div class="filter">
            <div> <i class="fa-solid fa-tents"></i> </div>
            <p> Camping </p>
        </div>

        <div class="filter">
            <div> <i class="fa-solid fa-person-skiing"></i> </div>
            <p> Ski-in/out </p>
        </div>

        <div class="filter">
            <div> <i class="fa-solid fa-tractor"></i> </div>
            <p> Farms </p>
        </div>

        <div class="filter">
            <div> <i class="fa-solid fa-snowflake"></i> </div>
            <p> Arctic </p>
        </div>

        <div class="filter">
            <div> <i class="fa-solid fa-igloo"></i> </div>
            <p> Igloo </p>
        </div>

        <div class="filter">
            <div> <i class="fa-solid fa-ship"></i> </div>
            <p> Ship </p>
        </div>
        
        <div class="filter-menu">
            <div class="filter-menubar">
                <i class="fa-solid fa-bars"></i>
                &nbsp; &nbsp; Filters
                <!-- <p>Filters</p> -->
            </div>
            
        </div>
        <div class="tax-toggel">
            <div class="form-check form-switch form-check-reverse">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Total before taxes</label>
            </div>
        </div>


        
    </div>

    <% if(!data || data.length==0){ %>
        <div class="noListing">
            <h2>Listing you are Looking for is not available!!</h2>
        </div>
    <% } %>

    <% if(data){ %>
        <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 mt-3">
            <% for(list of data){ %>
                <a href="/listings/<%= list._id %>" class="listing-link">
                    <div class="card col listing-card">
                        <img src="<%= list.image.url %>" class="card-img-top" alt="img" style="height: 20rem;">

                        <div class="card-img-overlay"></div>  <%#Overlay Effect(bootstrap)%>
                        <div class="card-body">
                            <p class="card-text"> <b><%= list.title %> </b> <br>
                                &#x24; <%= list.price.toLocaleString("en-US") %> /night
                                <i class="tax-info"> &nbsp; +18% TAXES</i>
                                </p>
                        </div>
                    </div>
                </a>
            <% }  %>
        </div>
    <% } %>
    

    
    <script>
        let tax_toggel = document.querySelector("#flexSwitchCheckDefault");
        tax_toggel.addEventListener('click', ()=>{
            let taxInfo = document.getElementsByClassName('tax-info');
            // console.log(taxInfo);

            for(info of taxInfo){
                if(info.style.display != 'inline'){
                    info.style.display = 'inline';
                }
                else{
                    info.style.display = 'none';
                }
            }
            console.log('clicked');
        });
    </script>
</body>